body {

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:  #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
}

